@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3tb2mc');
  src:  url('fonts/icomoon.eot?3tb2mc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3tb2mc') format('truetype'),
    url('fonts/icomoon.woff?3tb2mc') format('woff'),
    url('fonts/icomoon.svg?3tb2mc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="rsicon-"], [class*=" rsicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rsicon-music:before {
  content: "\f001";
}
.rsicon-film:before {
  content: "\f008";
}
.rsicon-eye:before {
  content: "\f06e";
}
.rsicon-calendar:before {
  content: "\f073";
}
.rsicon-camera-retro:before {
  content: "\f083";
}
.rsicon-twitter:before {
  content: "\f099";
}
.rsicon-facebook:before {
  content: "\f09a";
}
.rsicon-facebook-f:before {
  content: "\f09a";
}
.rsicon-github:before {
  content: "\f09b";
}
.rsicon-chain:before {
  content: "\f0c1";
}
.rsicon-link:before {
  content: "\f0c1";
}
.rsicon-google-plus:before {
  content: "\f0d5";
}
.rsicon-linkedin:before {
  content: "\f0e1";
}
.rsicon-quote-right:before {
  content: "\e61c";
}
.rsicon-gamepad:before {
  content: "\f11b";
}
.rsicon-instagram:before {
  content: "\f16d";
}
.rsicon-chevron_left:before {
  content: "\e900";
}
.rsicon-chevron_right:before {
  content: "\e901";
}
.rsicon-add:before {
  content: "\e803";
}
.rsicon-arrow-right:before {
  content: "\e601";
}
.rsicon-arrow-left:before {
  content: "\e60f";
}
.rsicon-arrow-down:before {
  content: "\e610";
}
.rsicon-arrow-up:before {
  content: "\e611";
}
.rsicon-check:before {
  content: "\e612";
}
.rsicon-close:before {
  content: "\e613";
}
.rsicon-menu:before {
  content: "\e604";
}
