<div class="sidebar sidebar-{{ include.type }}">
    {% if include.type=="fixed" %}
    <button class="btn-sidebar btn-sidebar-close">
        <i class="rsicon rsicon-close"></i>
    </button>
    {% endif %}

    <div class="widget-area">
        <aside class="widget widget-profile">
            <div class="profile-photo">
                <img src="/assets/img/julio-noda.jpg" alt="Julio Noda">
            </div>
            <div class="profile-info">
                <h2 class="profile-title">Julio Noda</h2>
                <h3 class="profile-position">{{ site.data.translations[page.lang].position }}</h3>
            </div>
        </aside>
        <!-- .widget-profile -->

        <aside class="widget widget_recent_entries">
            <h2 class="widget-title">{{ site.data.translations[page.lang].recent_projects }}</h2>
            <ul>
                {% assign posts=site.projects | where:"lang", page.lang | reverse %}
                {% for post in posts limit:6%}
                <li>
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </aside>
        <!-- .widget_recent_entries -->

        <aside class="widget widget_recent_entries">
            <h2 class="widget-title">{{ site.data.translations[page.lang].recent_jobs }}</h2>
            <ul>
                {% assign posts=site.jobs | where:"lang", page.lang | reverse %}
                {% for post in posts limit:5%}
                <li>
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.date | date: "%Y" }} - {{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </aside>
        <!-- .widget_recent_entries -->

        <aside class="widget widget_recent_entries">
            <h2 class="widget-title">{{ site.data.translations[page.lang].recent_education }}</h2>
            <ul>
                {% assign posts=site.education | where:"lang", page.lang | reverse %}
                {% for post in posts limit:5%}
                <li>
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </aside>
        <!-- .widget_recent_entries -->

        <aside class="widget widget-contact">
            <h2 class="widget-title">{{ site.data.translations[page.lang].contact_form.header }}</h2>

            <form class="rsForm" action="https://us-central1-julio-resume.cloudfunctions.net/sendMessage" method="post">
                <div class="input-field">
                    <label>{{ site.data.translations[page.lang].contact_form.name }}</label>
                    <input type="text" name="rsName" required>
                    <span class="line"></span>
                </div>

                <div class="input-field">
                    <label>{{ site.data.translations[page.lang].contact_form.email }}</label>
                    <input type="email" name="rsEmail" required>
                    <span class="line"></span>
                </div>

                <div class="input-field">
                    <label>{{ site.data.translations[page.lang].contact_form.subject }}</label>
                    <input type="text" name="rsSubject" required>
                    <span class="line"></span>
                </div>

                <div class="input-field">
                    <label>{{ site.data.translations[page.lang].contact_form.message }}</label>
                    <textarea rows="4" name="rsMessage" required></textarea>
                    <span class="line"></span>
                </div>

                <span class="btn-outer btn-primary-outer ripple">
                    <input class="rsFormSubmit btn btn-lg btn-primary" type="submit"
                        value="{{ site.data.translations[page.lang].contact_form.send }}">
                </span>
            </form>
        </aside>
        <!-- .widget-contact -->
    </div>
    <!-- .widget-area -->
</div>
<!-- .sidebar -->